<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://www.mattburns.co.uk/screenwaker" href="$outputFile">
 <information>
    <title>screenwaker</title>
    <vendor>mattburns</vendor>
    <homepage href="http://www.mattburns.co.uk/screenwaker"/>
    <description kind="one-line">screenwaker</description>
    <description kind="short">screenwaker</description>
    <description kind="tooltip">screenwaker</description>
    <icon href="http://www.mattburns.co.uk/images/myIcon.jpeg" kind="default"/>
    <shortcut online="false"><desktop/><menu submenu="screenwaker"/></shortcut>
 </information>
 <security>
    <all-permissions/>
 </sercurity>
 <resources>
    <j2se version="1.6+" initial-heap-size="32m" max-heap-size="128m" />
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 </application-desc>
</jnlp>
